.mainContainer {
    background-size: 400% 400%;
    background-position: 0% 50%;
    animation: gradientMove 8s ease infinite;
    backdrop-filter: blur(30px);
    background-image: radial-gradient(
      var(--background-000),
      var(--background-000),
      var(--background-000),
      var(--primary-300),
      var(--background-000)
    );
    background-size: 400% 400%;
    background-position: 0% 50%;
    animation: gradientMove 20s ease infinite;
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
