@import "tailwindcss";

@theme{
 /* Colors */
 --color-primary-100: #FF14A1;
 --color-primary-200: #690843;
 --color-primary-300: #45062c;

 --color-secondary-100: #FFBEE6;
 --color-secondary-200: #BA8CA8;

 --color-alternative-100: #00D5F4;
 --color-alternative-200: #006C7D;

 --color-background-000: #000000;
 --color-background-100: #141414;
 --color-background-200: #242424;
 --color-background-300: #3e3e3e;
 --color-background-400: #7a7a7a;
 --color-background-500: #DEDEDE;

 --color-white: #FFFFFF;
}