.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(
      -35deg,
      var(--background-000),
      var(--background-200),
      var(--background-000)
    );
    background-size: 400% 400%;
    background-position: 0% 50%;
    animation: gradientMove 8s ease infinite;
    backdrop-filter: blur(50px);
    background-image: linear-gradient(
      -35deg,
      var(--primary-300),
      var(--background-000),
      var(--primary-300)
    );
    background-size: 400% 400%;
    background-position: 0% 50%;
    animation: gradientMove 12s ease infinite;
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.containerInfo{
  height: 80%;
  width: 30%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-200);
  transition: all 0.3s ease-in-out;
}

.containerInfo:hover {
  transform: scale(1.01);
}

@media (max-width: 768px){
  .container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .containerInfo {
    width: 85%;
    height: 150px;
  }
}