:root {
    --primary-100: #FF14A1;
    --primary-200: #690843;
    --primary-300: #45062c;

    --secondary-100: #FFBEE6;
    --secondary-200: #BA8CA8;

    --alternative-100: #00D5F4;
    --alternative-200: #006C7D;

    --background-000: #000000;
    --background-100: #141414;
    --background-200: #242424;
    --background-300: #3e3e3e;
    --background-400: #7a7a7a;
    --background-500: #DEDEDE;

    --white: #FFFFFF;
}