.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  all: unset;
  width: 250px;
  padding: 12px 8px;
  padding-top: 20px;
  font-size: 16px;
  border: 1px solid var(--secondary-100);
  border-radius: 4px;
  background-color: var(--background-200);
}

.label {
  position: relative;
  top: 35px;
  left: 10px;
  color: var(--background-500);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.float {
  top: 18px;
  left: 10px;
  font-size: 10px;
  color: var(--secondary-100);
}
